* {
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  background-color: #fef1e1;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.navbar-main {
  background-color: rgb(161, 137, 141);
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5%;
}

#box_one:hover {
  color: rgb(56, 44, 46);

  font-size: large;
}

#box_two:hover {
  color: rgb(56, 44, 46);

  font-size: large;
}

#box_three:hover {
  color: rgb(56, 44, 46);

  font-size: large;
}

#buttoms {
  flex: 6;
  display: flex;
  justify-content: flex-end;
  gap: 5rem;
}

#logo {
  flex: 1;
}

#logo:hover {
  transition: font-size 0.3s ease;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: rgb(26, 25, 25);
}
main {
  display: flex;
  justify-content: center;
}
footer {
  background-color: rgb(161, 137, 141);
  height: 15%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  text-align: center;
}

.footer-texto {
  margin-left: auto;
  margin-top: 10px;
  margin-right: auto;
  text-align: center;
}

.container {
  width: 100%;
  margin: 0;
}
